%object{width: "483", height: "387", type: "application/x-shockwave-flash", data: "/static/misc/PlayerOnly.swf"}
  %param{name: "allowScriptAccess", value: "always" }
  %param{name: "flashvars", value: "project=/static/projects/ckfoxy/3013900.sb" }
